@font-face {
  font-family: 'minombre';
  src: url('assets/fonts/DRUNKFONTS-Regular.woff2') format('woff2'),
       url('assets/fonts/DRUNKFONTS-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'menufont';
  src: url('assets/fonts/Crooked.woff2') format('woff2'),
       url('assets/fonts/Crooked.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía y fondo con estilo retro */
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

.helloworld{
  background: url('assets/img/fondo.JPG') no-repeat center center fixed;
  background-size: cover;
}

.nom{
  font-family: 'minombre';
  font-size: clamp(5.5em, 8vw, 7.5em); /*antes estaba en 4.5 y 6.5*/
  color: black;
  text-align: center;
  position: absolute;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;  /* Ajusta el ancho al 90% de la pantalla */
  max-width: 800px; /* Evita que sea demasiado ancho en pantallas grandes */
  white-space: wrap; /* Permite que el texto se divida si es largo */
  transition: color 1.45s ease-in-out;
}

.nom:hover, nom:focus, .nom:active {
  color: #d609cc; /* Color al hacer hover */
}

.newfont{
  font-family: menufont;
  font-size: 1.4em;
  user-select: none;
}

/* Encabezado y navegación */
header {
  margin-bottom: 20px;
}

/* Pie de página */
footer {
  text-align: center;
  margin-top: 10px;
  font-size: 1em;
}

p {
  line-height: 1.5;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

ul { 
  list-style: disc; /* Restaura bullets en listas normales */
  padding-left: 20px; /* Ajusta la sangría para que los bullets no estén muy a la izquierda */
}

nav ul li {
  margin: 0 10px;
  display: list-item; /* Asegura que los bullets se muestren correctamente */
}

nav ul li a {
  display: inline-block; /*new*/
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid transparent;
}

nav ul li a:hover {
  /*border-bottom: 1px solid #333;*/
}

.blanquito:hover {
  /*border-bottom: 1px solid white;*/
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

h1 {
  font-size: 1.4em; /* Ajusta este tamaño según prefieras */
}

h2 {
  font-size: 1.2em; /* Ajusta este tamaño según prefieras */
  font-weight: bold; /* Para asegurarte de que sea un subtítulo claro */
  margin-bottom: 2px;
}

h3 {
  font-size: 1.1em; /* Si deseas mantener un tamaño más pequeño, ajusta */
}

/* Estilos de la galería */
.gallery {
  column-count: 2;
  column-gap: 10px;
}
.gallery article {
  break-inside: avoid;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
 /*background-color: #fff;*/
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.justme{
  width: 100%;
  max-width: 600px; /* Ajusta este valor según prefieras */
  height: auto;
  display: block; /* Opcional, para evitar espacios extra debajo de la imagen */
  margin: 20px auto 0; /* Centra la imagen y añade margen superior */
}

@media (max-width: 599px) {
  .gallery {
    column-count: 1;
  }

@media (max-width: 599px) {
  body {
    font-size: 13px; /* O el tamaño que prefieras */
  }
  h1 {
    font-size: 15.5px; /* O el tamaño que prefieras */
  }

  h2 {
    font-size: 14px; /* O el tamaño que prefieras */
    margin-bottom: 3px;
  }

  ul { 
  padding-left: 12px; /* Ajusta la sangría para que los bullets no estén muy a la izquierda */
  }
}

@media (max-width: 599px) {
  .about, .links {
    background-color: transparent; /* o el color de fondo que prefieras */
    border: none;
    padding: 1px; /* ajusta el padding según necesites */
  }
}


/* Secciones About y Links */
.about, .links {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}


/* Botón para donaciones */
.button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

.button:hover {
  background-color: #555;
}

