/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía y fondo con estilo retro */
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

.helloworld{
  background: url('assets/img/fondo.JPG') no-repeat center center fixed;
  background-size: cover;
}

/* Encabezado y navegación */
header {
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

ul { 
  list-style: disc; /* Restaura bullets en listas normales */
  padding-left: 13px; /* Ajusta la sangría para que los bullets no estén muy a la izquierda */
}

nav ul li {
  margin: 0 10px;
  display: list-item; /* Asegura que los bullets se muestren correctamente */
}

nav ul li a {
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid transparent;
}

nav ul li a:hover {
  border-bottom: 1px solid #333;
}

.blanquito:hover {
  border-bottom: 1px solid white;
}

/* Estilos de la galería */
.gallery {
  column-count: 2;
  column-gap: 10px;
}
.gallery article {
  break-inside: avoid;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
 /*background-color: #fff;*/
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.justme{
  width: 100%;
  max-width: 600px; /* Ajusta este valor según prefieras */
  height: auto;
  display: block; /* Opcional, para evitar espacios extra debajo de la imagen */
  margin: 20px auto 0; /* Centra la imagen y añade margen superior */
}

@media (max-width: 599px) {
  .gallery {
    column-count: 1;
  }

@media (max-width: 599px) {
  body {
    font-size: 13px; /* O el tamaño que prefieras */
  }
  h1 {
    font-size: 16px; /* O el tamaño que prefieras */
  }
  ul { 
  padding-left: 12px; /* Ajusta la sangría para que los bullets no estén muy a la izquierda */
  }
}

@media (max-width: 599px) {
  .about, .links {
    background-color: transparent; /* o el color de fondo que prefieras */
    border: none;
    padding: 1px; /* ajusta el padding según necesites */
  }
}


/* Secciones About y Links */
.about, .links {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.about h1, .links h1 {
  margin-bottom: 10px;
}

/* Botón para donaciones */
.button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

.button:hover {
  background-color: #555;
}

/* Pie de página */
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}